 [Desktop Entry]
Name=Simple Xinux Linux Wallpaper
X-KDE-PluginInfo-Name=xinux-simple-plasma
X-KDE-PluginInfo-Author=Anvarullo
X-KDE-PluginInfo-Email=a.karimov@uzinfocom.uz
X-KDE-PluginInfo-License=CC0-1.0
